{% load myfilter %}
<div class="w-full h-auto mx-auto relative shadow-sm bg-white rounded-lg">
  <a class="absolute w-full h-full z-10 top-0 left-0" href="{% url 'item.detail' item.id %}"></a>
  <div class="flex flex-col">
    <div class="order-2 w-full">
      <figure class="aspect-w-16 aspect-h-9">
        <img class="object-cover" src="{{ item.getThumbnailImage }}" alt="{{ item.title }}">
      </figure>
    </div>

    <div class="order-1">
      <div class="flex items-center px-4 py-3">
        <div class="mr-2">
          <img class="rounded-full w-8 h-8" src="{{ item.author.getAvatar }}" alt="{{ item.author.username }}">
        </div>
        <div class="">
          <p class="text-gray-600 text-xs -mb-1">{{ item.author.username }}</p>
          <time class="text-gray-400 text-xs">{{ item.created_at|date:"Y/m/j" }}</time>
        </div>
      </div>
    </div>

    <div class="p-3 px-4 order-3 sm:order-3">
      <div class="flex items-center justify-between">
        {% if item.comment__count > 0 %}
        <div class="flex items-center ml-2">
          {% for c in item.get_comment_author_avatar %}
            <img class="w-6 h-6 rounded-full -ml-2 border border-gray-100" src="{{ c }}" >
          {% endfor %}
          <div class="text-gray-400">
            <i class="fa fa-comment ml-2"></i>
            <span class="text-sm">{{ item.comment__count }}</span>
          </div>
        </div>
        {% else %}
        <div class="flex items-center text-gray-400">
          <div class="text-gray-400">
            <i class="fa fa-comment"></i>
            <span class="text-sm">0</span>
          </div>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div data-itemId={{ item.id }} data-islike={{ item.currentuser_islike }} class="js-like relative z-20 cursor-pointer hover:text-red-300 {% if item.currentuser_islike %}is-like{% endif %}">
          <i class="fa fa-heart"></i>
          <span class="js-like-cnt text-sm">{{ item.likes__count }}</span>
        </div>
        {% else %}
        <div data-itemId={{ item.id }} data-islike="anonymous" class="js-like relative z-20 cursor-pointer hover:text-red-300">
          <i class="fa fa-heart"></i>
          <span class="js-like-cnt text-sm">{{ item.likes__count }}</span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
