<div class="header relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-4 md:space-x-10">
      <div class="flex">
        <a href="{% url 'index' %}">
          <span class="sr-only">Workflow</span>
          <h1 class="font-bold text-lg">I Love Japan</h1>
        </a>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button" class="menu-btn bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <nav class="hidden md:flex space-x-10">
        <div class="relative">
          <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
          <button type="button" class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-expanded="false">
            <a href="{% url 'item.list' %}">Item</a>
          </button>
        </div>

        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
          About
        </a>
      </nav>
      {% if user.is_authenticated %}
      <div class="menu-avatar relative hidden md:flex">
        <img class="w-8 h-8 rounded-full cursor-pointer hover:opacity-80" src="{{ user.getAvatar }}" alt="{{ user.username }}">
        <div class="menu-user hidden shadow-md bg-white absolute top-10 right-0 w-40 z-30">
          <ul class="flex flex-col p-2">
            <li><a class="block text-sm p-2 hover:bg-gray-200" href="{% url 'home' %}">
              マイページ
            </a></li>
            <li><a class="block text-sm p-2 hover:bg-gray-200" href="{% url 'account_logout' %}">
              ログアウト
            </a></li>
          </ul>
        </div>
      </div>
      {% else %}
      <div class="hidden md:flex items-center">
        <a href="{% url 'account_login' %}" class="whitespace-nowrap text-sm font-medium text-gray-500 hover:text-gray-900">
          ログイン
        </a>
        <a href="{% url 'account_signup' %}" class="ml-8 btn btn-black">
          ユーザー登録
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="menu-area z-30 absolute hidden top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="p-4 flex flex-row-reverse justify-between">
        <div class="-mr-2">
          <button type="button" class="menu-btn-close bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <ul class="w-3/4">
          <li><a class="block p-2 hover:bg-gray-200 text-sm" href="{% url 'index' %}">Home</a></li>
          <li><a class="block p-2 hover:bg-gray-200 text-sm" href="{% url 'item.list' %}">Item</a></li>
          {% if user.is_authenticated %}
          <li><a class="block p-2 hover:bg-gray-200 text-sm" href="{% url 'home' %}">マイページ</a></li>
          <li><a class="block p-2 hover:bg-gray-200 text-sm" href="{% url 'account_logout' %}">ログアウト</a></li>
          {% else %}
          <li><a class="block p-2 hover:bg-gray-200 text-sm" href="{% url 'account_login' %}">ログイン</a></li>
          <li><a class="block p-2 hover:bg-gray-200 text-sm" href="{% url 'account_signup' %}">ユーザー登録</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

