{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="relative backdrop-filter backdrop-blur-sm z-30 mx-4 sm:max-w-md sm:mx-auto px-8 py-12 bg-white bg-opacity-25 shadow-sm rounded-lg text-white">
    <div class="flex  flex-col mb-8 items-center justify-center rounded-t-md">
  <h1 class="mt-6 text-center text-3xl font-extrabold">{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="my-4">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form class="w-full" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <div class="">
        <button type="submit" class="btn btn-black btn-full">{% trans 'Confirm' %}</button>
    </div>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="my-4">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
    </div>
</div>
{% endblock %}
