{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="relative backdrop-filter backdrop-blur-sm z-30 mx-4 sm:max-w-md sm:mx-auto px-8 py-12 bg-white bg-opacity-25 shadow-sm rounded-lg text-white">
    <div class="flex  flex-col mb-8 items-center justify-center rounded-t-md">
        <h1 class="mt-6 text-center text-3xl font-extrabold">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="mt-4">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
