{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="relative container backdrop-filter backdrop-blur-sm z-30 mx-4 sm:max-w-md sm:mx-auto px-8 py-12 bg-white bg-opacity-25 shadow-sm rounded-lg text-white">
    <div class="flex flex-col mb-8 items-center justify-center rounded-t-md">
        <h1 class="mt-6 text-center text-3xl font-extrabold">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="w-full my-4" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="relative">
                    <input class="input input-ghost" type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required="" id="id_password1">
                    <span class="input-icon-wrapper">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
                <div class="relative">
                    <input class="input input-ghost" type="password" name="password2" placeholder="新しいパスワード（再入力）" required="" id="id_password2">
                    <span class="input-icon-wrapper">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
                <div>
                    <input class="btn btn-black w-full cursor-pointer" type="submit" name="action" value="{% trans 'change password' %}"/>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
