{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="relative container backdrop-filter backdrop-blur-sm z-30 mx-4 sm:max-w-md sm:mx-auto px-8 py-12 bg-white bg-opacity-25 shadow-sm rounded-lg text-white">
    <div class="flex flex-col mb-8 items-center justify-center rounded-t-md">
        <h1 class="mt-6 text-center text-3xl font-extrabold">{% trans "Change Password" %}</h1>

        <p class="my-4">{% trans 'Your password is now changed.' %}</p>
        <a class="btn btn-black w-full" href="{% url 'account_login' %}">ログイン画面へもどる</a>
    </div>
</div>
{% endblock %}
