{% extends '../base.html' %}

{% block head_title %}Item Create | {{ block.super }}{% endblock %}

{% block content %}
<h1>アイテムの新規作成</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form }}
  <div>
    <img id="img-preview" style="width: 200px;object-fit: cover;">
  </div>
  <div>
    <button type="submit">send</button>
  </div>
</form>
<a href="{% url 'item.list' %}">Back</a>
{% endblock %}

{% block extrajs %}
<script>
  const img = document.querySelector('input[name="image"]'),
        imgPreview = document.querySelector('#img-preview')

  img.addEventListener('change', (event) => {
    const file = event.target.files[0]
    const render = new FileReader()
    render.onload = () => {
      const img = new Image()
      img.src = render.result
      imgPreview.setAttribute('src', img.src)
    }
    render.readAsDataURL(file)
  })

  const tags = document.querySelector('#id_tags'),
        tagify = new Tagify(tags, {
          originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
        })
</script>
{% endblock %}
