{% extends '../base.html' %}

{% load static %}

{% block head_title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<span>{{ object.created_at }} {{ object.updated_at }}</span>
{% if object.image_thumbnail %}
  <div>
    <h2>Thumbnail</h2>
    <img src="{{ object.image_thumbnail.url }}" alt="{{ object.title }}">
  </div>
{% endif %}
<p>{{ object.body }}</p>
<div>
  <a href="{% url 'item.update' object.pk %}">Edit</a>
  <a href="{% url 'item.delete' object.pk %}">Delete</a>
</div>
<a href="{% url 'item.list' %}">Back</a>
{% endblock %}
