{% extends '../base.html' %}

{% load static %}

{% block head_title %}Item List | {{ block.super }}{% endblock %}

{% block content %}
<h1>アイテム一覧</h1>
<a href="{% url 'item.create' %}">新規作成</a>
<div>
{% for item in object_list %}
  <div>
    {% if item.tags.all %}
      {% for tag in item.tags.all %}
        <span>・{{ tag.name }}</span>
      {% endfor %}
    {% else %}
      <span>No tag</span>
    {% endif %}
    <img src="{{ item.getSmallImage }}" alt="" style="width:150px">
    <h2>{{ item.title }}</h2>
    <p>{{ item.body }}</p>
    <a href="{% url 'item.detail' item.id %}">more</a>
  </div>
{% endfor %}
</div>
{% endblock %}
