{% extends '../base.html' %}

{% load static %}

{% block head_title %}Item List | {{ block.super }}{% endblock %}

{% block extracss %}
{% endblock %}

{% block hero %}
<div class="bg-blur relative overflow-hidden w-full flex h-96 bg-cover bg-no-repeat blur-sm bg-center z-0" {% if hero %} style="background-image: url('{{ hero }}')"; {% else %} style="background-image: url('/static/img/bg-0.jpg')"; {% endif %}>
  <div class="relative z-20 mx-4 max-w-5xl  text-white container lg:mx-auto flex flex-col sm:flex-row items-center justify-center">
    <div class="w-full sm:w-1/2">
      <h1 class="text-4xl sm:text-7xl font-bold mb-8">Do you love Japan?</h1>
      <p class="text-xl">どこか知らない、日本の街並み。</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="" alt="">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mx-4 my-8 lg:max-w-5xl">
  <div class="mx-4 sm:mx-0 my-4 sm:my-4 flex items-center justify-between">
    <h1 class="text-2xl font-bold">アイテム</h1>
    <div>
      <select name="sort" id="sort" class="w-32 input mr-4 cursor-pointer">
        <option value="created_at">最新順</option>
        <option value="likes">いいね順</option>
        <option value="comment">コメント順</option>
      </select>
      <a class="btn btn-black" href="{% url 'item.create' %}">投稿する</a>
    </div>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6 mx-2 sm:mx-auto">
  {% for item in object_list %}
    {% include '../components/_card.html' %}
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
  const likes = document.querySelectorAll('.js-like')
  likes.forEach((el) => {
    el.addEventListener('click', (e) => {
      let data = new FormData()
      const itemId = el.getAttribute('data-itemid')
      const islike = el.getAttribute('data-islike')
      console.log(islike)
      data.append('pk', itemId)
      data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

      axios.post(`/item/like/${itemId}/`, data)
        .then(res => {
          el.querySelector('span').textContent = res.data.cnt
          if (islike === 'True') {
            el.classList.remove('text-red-300')
            el.classList.add('text-gray-400')
            el.setAttribute('data-islike', 'False')
          } else {
            el.classList.remove('text-gray-400')
            el.classList.add('text-red-300')
            el.setAttribute('data-islike', 'True')
          }
        })
    })
  })

  const sort = document.querySelector('#sort'),
        params = new URLSearchParams(window.location.search),
        str = params.get('sort')
  sort.value = str ? str : 'created_at'
  sort.addEventListener('change', () => {
    const v = sort.value
    location.href = `/item/?sort=${v}`
  })

</script>
{% endblock %}
