{% extends '../base.html' %}

{% block head_title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="container my-8 sm:mx-auto sm:w-2/3 max-w-5xl">
  <div class="mx-4">
    <h1 class="text-2xl font-bold">アイテムを編集する</h1>
    <div class="bg-white p-4 sm:p-8 my-8 shadow-sm w-full">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          <label class="block mb-2 text-sm" for="id_title">タイトル</label>
          <input class="input" type="text" name="title" required="" id="id_title" value="{{ object.title }}">
        </div>
        <div>
          <label class="block mb-2 text-sm" for="id_body">本文</label>
          <textarea class="input" name="body" cols="40" rows="5" required="" id="id_body">{{ object.body }}</textarea>
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm" for="id_tags">タグ</label>
          <input type="text" name="tags" id="id_tags">
        </div>
        <div class="flex mb-4">
          <div>
            <label class="block mb-2 text-sm" for="id_image">画像</label>
            <input class="" type="file" name="image" accept="image/*" id="id_image">
          </div>
          <div>
            <div id="img-preview">
              {% if object.image %}
              <img id="img-tag" class="w-full object-cover" src="{{ object.image_thumbnail.url }}" alt="">
              {% else %}
              <img id="img-tag" class="w-full object-cover">
              {% endif %}
            </div>
          </div>
        </div>
        <div class="text-center mt-8">
          <button class="btn btn-black btn-wide" type="submit">更新する</button>
        </div>
      </form>
      </div>
      <a class="btn btn-gray" href="{% url 'item.detail' item.id %}">キャンセル</a>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
  libs.setPreview('input[name="image"]', '#img-tag')
  libs.setTags('#id_tags', '{{tag_arr}}')
</script>
{% endblock %}
