[[source]]
name="pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
Django = "==3.2.3"
gunicorn = "==20.0.4"
pillow = "*"
django-allauth = "*"
django-imagekit = "*"
django-cleanup = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.8"
