{% extends '../base.html' %}

{% load static %}

{% block head_title %}{{ object.username }} | {{ block.super }}{% endblock %}

{% block content %}
{% if object.displayname != '' %}
<h1>{{ object.displayname }}</h1>
{% else  %}
<h1>{{ object.username }}</h1>
{% endif %}
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6 mx-2 sm:mx-auto">
  {% for item in items %}
    {% include '../components/_card.html' %}
  {% endfor %}
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6 mx-2 sm:mx-auto">
  {% for item in likes %}
    {% include '../components/_card.html' %}
  {% endfor %}
  </div>
{% if object.plofile %}
<p>{{ object.profile }}</p>
{% endif %}
{% if object.avatar %}
  <div>
    <h2>Thumbnail</h2>
    <img src="{{ object.avatar.url }}" alt="{{ object.username }}">
  </div>
{% endif %}
<p>{{ object.body }}</p>
{% endblock %}
