{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ja" class="text-gray-900 leading-tight">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}Django CRUD{% endblock %}</title>

  {% render_bundle 'main' 'css' %}
  {% block extracss %}{% endblock %}

</head>
<body class="min-h-screen bg-gray-50">
  {% include 'layouts/_header.html' %}

  {% block hero %}{% endblock %}

  <div class="relative overflow-hidden js-blur z-10 flex items-center justify-center sm:mx-auto">
    {% block content %}{% endblock %}
  </div>

  {% include 'layouts/_footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  {% render_bundle 'main' 'js' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.2.0/tagify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.2.0/tagify.polyfills.min.js"></script>
  {% block extrajs %}{% endblock %}
</body>
</html>
